.users{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}
.user{
  display: flex;
  max-width: 600px;
  border-radius: 50px;
  background-color: rgb(97, 96, 114);
  padding: 50px;
}
img{
  width: 100px;
  height: 100px;
  
}
